@using LifeCall.Domain;
@{
    var successMessage = TempData["SuccessMessage"] as string;
    var errorMessage = TempData["ErrorMessage"] as string;
}
<h1>Reportes</h1>

@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success">
        @successMessage
    </div>
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">
        @errorMessage
    </div>
}

@model IEnumerable<EmergencyReport>

<div class="text-center">

</div>

<div class="container">
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        @if (Model != null && Model.Any())
        {
            foreach (var report in Model)
            {
                <tr>
                    <td>@report.Id</td>
                    <td>@report.CallerName</td>
                    <td>@report.Description</td>
                    <td>@report.DateReport</td>
                    <td>@report.Status</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@report.Id">Editar</a>
                        <a asp-action="Delete" asp-route-id="@report.Id" class="text-danger">Eliminar</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">No hay reportes disponibles.</td>
            </tr>
        }
    </table>
</div>